{% extends 'home/base.html' %}
{% block content %}
  <div class="container">
    <div class="col-md-12" style="padding-top: 5%;padding-left: 5%">
      <div class="card border shadow mx-sm-10 p-3">
        <h4 style="color:blue">Event Details:</h4><hr>
        <div class="text-info text mt-2">
            <form action="/eventsubmit/" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Name of the Event:</label>
                <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="eventName">
                <label for="exampleInputEmail1">When is the Event:</label>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="date">
                <label for="exampleInputEmail1">Where is the Event:</label>
                <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="placeName">
                <label for="exampleInputEmail1">Description of the Event:</label>
                 <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="description">
				</textarea> 
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}