{% extends 'home/base.html' %}
{% block content %}
  {% if message %}
    {% if success %}
      <div class="alert alert-success" role="alert">
        {{message}}
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
    {% endif %}
  {% endif %}
  <div class="container">
    <div class="col-md-12" style="padding-top:5%;padding-left: 5%; padding-bottom: 7.5%">
      <div class="card border shadow mx-sm-10 p-3">
        <h4 style="color:blue">Sign In:</h4><hr>
        <div class="text-info text mt-2">
            <form action="/sahyog/" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Email address:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Log In</button>
            </form><br>
            <a href="{% url 'signup' %}">Not a member? Sign Up</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}