{% extends 'home/base.html' %}
{% block content %}
<div class="container">
	<br><h6>Adoption</h6><hr>
	<div class="row">
	{% if adoption_list %}
			<!-- INDIVIDUAL EVENT -->
		    <main role="main" class="col-md-5 ml-sm-auto col-lg-10 px-10"><br>
		    	{% for animal,address,description,time in adoption_list %}
					<div class="row w-100">
				        <div class="col-md-10">
				            <div class="card border shadow mx-sm-1 p-3" style="background-image: url('')">
				            	<p></p>
				                <div class="card border shadow text-info p-2 my-card" >
				                	<h4 class="text-center" aria-hidden="true"><b style="color:black">ANIMAL: {{animal}}</b></h4>
				                </div>
				                <div class="text-info text-center mt-3"><h5><a href=""style="color:black"><b>ADDRESS: </b>{{address}}</a></h5></div>
				                <br><p>{{description}}</p>
				                <p></p>
			            	</div>
				        </div>
				    </div>
				    <hr>
				{% endfor %}
		    </main>
	{% else %}
		<h4>You have no animal for adoptions.</h4>
	{% endif %}
</div>
</div>
{% endblock content %}