{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- =========================
       STYLESHEETS 
	    ============================== -->
	    <!-- PRELOADER -->
	    <link rel="stylesheet" href="{% static 'home/css/preloader.css' %}">

	    <!-- BOOTSTRAP CSS -->
	    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">

	    <!-- GOOGLE FONTS -->
		 <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700%7CRaleway:100,200,300,400,500,600,700' rel='stylesheet'>
	   
	   <!-- FONT ICONS CSS -->
		<link rel="stylesheet" href="{% static 'home/icons/styles.css' %}">

	   <!-- OWL CAROUSEL CSS -->
		<link rel="stylesheet" href="{% static 'home/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'home/css/owl.theme.yellow.css' %}">

	   <!-- NIVO LIGHTBOX -->
		<link rel="stylesheet" href="{% static 'home/css/nivo-lightbox/nivo-lightbox.css' %}">
		<link rel="stylesheet" href="{% static 'home/css/nivo-lightbox/default.css' %}">

	    <!-- CUSTOM CSS -->
	    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

	    <!-- ANIMATE CSS -->
	    <link rel="stylesheet" href="{% static 'home/css/animate.css' %}">

	    <!-- RESPONSIVE FIXES -->
	    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
	    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
	    <script src="http://code.jquery.com/jquery-latest.js"></script>
		<title>SAHYOG</title>
	</head>
	<body>
		<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="{% url 'home' %}"><b>SAHYOG</b></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
			      </li>
			      {% if email %}
				      <li>
				        <a class="nav-link" href="{% url 'events' %}">Events <span class="sr-only"></span></a>
				      </li>
				      <li>
				        <a class="nav-link" href="{% url 'events' %}">Donations <span class="sr-only"></span></a>
				      </li>
				      <li>
				        <a class="nav-link" href="{% url 'events' %}">Adoptions <span class="sr-only"></span></a>
				      </li>
			      {% endif %}
			    </ul>
			    <ul class="navbar-nav navbar-right">
		            <li class="nav-item dropdown">
		              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-asterisk"></i> 
		                Activities
		              </a>
		              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				        <a class="dropdown-item" href="{% url 'eventsform' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Events</a>
				        {% if email %}
				        	<a class="dropdown-item" href="{% url 'eventsform' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Adoptions</a>
		                	<a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>&emsp;Log out</a>
		              	{% endif %}
		              </div>
		            </li>
	            </ul>
			  </div>
			</nav> -->

		<!-- Navbar -->
		<div class="cp-nav" style="background-color:black!important;">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav class="navbar navbar-expand-lg custom-nav" id="spyNav">
						  <a class="navbar-brand" href="#">SAHYOG</a>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="icon icon-align-justify"></span>
						  </button>
						  <div class="collapse navbar-collapse" id="navbarNav">
						  	<ul class="nav-top">
						  		<li class="mobile"><i class="icon icon-call-phone"></i>+880 1723 130 532</li>
						  		<li><i class="icon icon-email-envelope"></i>sahyog@somaiya.com</li>
						  	</ul>
						    <ul class="navbar-nav ml-auto";">
						    	<li class="nav-item">
						        <a class="nav-link active" href="{% url 'home' %}">Home</a>
						      </li>
						    	{% if email %}
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'events' %}">Event</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="">Adoption</a>
						      </li>
						      <li class="nav-item nav-donation">
						        <a class="nav-link" href="">Donation</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'firstaid' %}">FirstAid</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'report' %}">Report</a>
						      </li>
						      <li class="nav-item">
								<a class="nav-link" href="{% url 'complaint' %}">Complaint</a>
						      </li>
						      <li class="nav-item dropdown">
						        <a href="" data-toggle="dropdown" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">Activities</a>
						        <ul class="dropdown-menu">
			                      <li class="menu-item"><a href="{% url 'eventsform' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Event</a></li>
			                      <li class="menu-item"><a href="{% url 'complaintform' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i>Complaint</a></li>
			                    </ul>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
						      </li>
		              			{% endif %}
						    </ul>
						  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- Navbar End -->
		{% block content %}
		{% endblock content %}

		<!-- =========================
		     FOOTER 
		============================== -->
		<footer class="footer" style="z-index: 100;">
			<div class="footer-head">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<h2 class="title-text">SAHYOG</h2>
						</div>
						<div class="text-right col-sm-9">
							<ul class="social-links text-center">
								<li><a href="#"><i class="icon-facebook"></i><span>Facebook</span></a></li>
								<li><a href="#"><i class="icon-google-plus"></i><span>Google+</span></a></li>
								<li><a href="#"><i class="icon-twitter"></i><span>Twitter</span></a></li>
								<li><a href="#"><i class="icon-linkedin"></i><span>Linkedin</span></a></li>
								<li><a href="#"><i class="icon-instagram"></i><span>Instagram</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- /.footer-head -->

			<section class="footer-body">
				<div class="container">
					<div class="row">
						<div class="row-item col-lg-4 col-md-6">
							<h4 class="title-text">About Us</h4>
							<p>As a non-profit organistion we do lots of social activistis, you can find those in the following links.</p>

							<!-- <div class="row">
								<div class="col-sm-6">
									<ul class="footer-link">
										<li><a href="#">Mission and Vision</a></li>
										<li><a href="#">Mission and Vision</a></li>
										<li><a href="#">Mission and Vision</a></li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="footer-link">
										<li><a href="#">Mission and Vision</a></li>
										<li><a href="#">Mission and Vision</a></li>
										<li><a href="#">Mission and Vision</a></li>
									</ul>
								</div>
							</div> -->
						</div>

						<div class="row-item col-lg-4 col-md-6">
							<h4 class="title-text">Subscribe</h4>
							<p>To stay touch we touch and our works please subscribe our newsletter by entering your email address.</p>

							<form id="subscribe" role="form" class="subscribe">
								<div class="input-group">
									<label for="subscribe-email" class="sr-only">Your email address</label>
									<input type="email" name="subscribe-email" id="subscribe-email" class="form-control" placeholder="Your email address">
										<button class="btn submit-btn">subscribe</button>
								</div>

								<p class="success-msg">You are successfully subscribed!</p>
								<p class="error-msg">Error! Something went wrong!</p>
							</form>

						</div>

						<div class="row-item col-lg-4 col-md-6">
							<h4 class="title-text">flickr photos</h4>

							<ul class="flickr-feed"></ul>
						</div>
					</div>
				</div>
			</section><!-- /.footer-body -->

			<div class="footer-foot">
				<div class="container">
					<div class="row">
						<div class="col">
							<p>&copy; 2019 <a href="http://codepassenger.com/">Sahyog</a> - Smart Animal Healthaid - be Your Own Guide</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.footer-foot -->
		</footer>
		<script src="{% static 'home/js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'home/js/popper.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.nav.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrollTo.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.localScroll.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
		<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'home/js/nivo-lightbox.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.mixitup.min.js' %}"></script>
		<script src="{% static 'home/js/jflickrfeed.min.js' %}"></script>
		<script src="{% static 'home/js/matchMedia.js' %}"></script>
		<script src="{% static 'home/js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.fitvids.js' %}"></script>
		<script src="{% static 'home/js/jquery.stellar.min.js' %}"></script>
		<script src="{% static 'home/js/smoothscroll.js' %}"></script>
		<script src="{% static 'home/js/wow.min.js' %}"></script>
		<script src="{% static 'home/js/custom.js' %}"></script>
	</body>
</html>