{% extends 'home/base.html' %}
{% load static %}
{% block content %}
	{% if message %}
		<div class="alert alert-success" role="alert">
		  {{message}} as {{email}}
		</div>
	{% endif %}
	<!-- =========================
	     HOME 
	============================== -->
	<div class="home" id="home" style="width: auto;height: auto; display: block;">

		<!-- CAROUSEL -->
		<div class="owl-carousel">
			<div class="item slider">
				<img src="{% static 'home/images/carousel/cat-1.jpg' %}" alt="Cat">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">SAHYOG - Smart animal Assistance and Healthaid - be Your Own Guide</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>

			<div class="item slider">
				<img src="{% static 'home/images/carousel/dog-1.jpg' %}" alt="Dog">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">SAHYOG - Smart animal Assistance and Healthaid - be Your Own Guide</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>

			<div class="item slider">
				<img src="{% static 'home/images/carousel/cat-2.jpg' %}" alt="Cat">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">SAHYOG - Smart animal Assistance and Healthaid - be Your Own Guide</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>
		</div>
	</div>

	<!-- =========================
	     About
	============================== -->

	<div class="special-event">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="special-event-header">
						<h3>SAHYOG is a non-profit aid for animals.</h3>
						<p>Help us to help them.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
		</div>
	</div>
	</div>
</section>
{% endblock content %}