{% extends 'home/base.html' %}
{% load static %}
{% block content %}
	{% if message %}
		<div class="alert alert-success" role="alert">
		  {{message}} as {{email}}
		</div>
	{% endif %}
	<!-- =========================
	     HOME 
	============================== -->
	<div class="home" id="home" style="width: auto;height: auto; display: block;">

		<!-- CAROUSEL -->
		<div class="owl-carousel">
			<div class="item slider">
				<img src="{% static 'home/images/carousel/cat-1.jpg' %}" alt="Cat">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">Save the homeless pet</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>

			<div class="item slider">
				<img src="{% static 'home/images/carousel/dog-1.jpg' %}" alt="Dog">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">Adopt pet and help them</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>

			<div class="item slider">
				<img src="{% static 'home/images/carousel/cat-2.jpg' %}" alt="Cat">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">Pet is your friend</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>
		</div>
	</div>

	<!-- =========================
	     About
	============================== -->

	<div class="special-event">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="special-event-header">
						<h3>BE THE PET LOVER</h3>
						<p>SAHYOG is a non-profit aid for animals.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- =========================
     TEAM MEMBERS 
============================== -->
<section class="team-members" id="team-members">
	<div class="container">
		<div class="row">
			<div class="col">
				<header class="section-header">
					<h2 class="title-text">Team Members</h2>
					<p class="sub-title">Numbers of professionals and activists are workig with but some of them really make us proud througytout the years.</p>
				</header>
			</div>
		</div>

		<div class="row">
			<!-- INDIVIDUAL MEMBER -->
			<div class="row-item each-member col-lg-3 col-lg-3-offset-3 col-sm-6">
				<figure class="d-none d-lg-block d-xl-block">
					<img src="images/team-members/1.jpg" alt="Team Member" class="img-fluid">
					<figcaption>
						<h4 class="title-text text-capitalize">Darshan Chheda</h4>
						<hr class="yellow-line">
						<p class="meta">Developer</p>
					</figcaption>
				</figure>

				<!-- HOVER PROFILE -->
				<div class="hover-profile clearfix">
					<figure class="thumb clearfix">
						<img src="images/team-members/1.jpg" alt="Team Member" class="img-fluid">
						<figcaption>
							<h4 class="title-text text-capitalize">Darshan Chheda</h4>
							<hr class="yellow-line">
							<p class="meta">Developer</p>
						</figcaption>
					</figure>

					<p></p>

					<ul class="social-connect">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- INDIVIDUAL MEMBER -->
			<div class="row-item each-member col-lg-3 col-sm-6">
				<figure class="d-none d-lg-block d-xl-block">
					<img src="images/team-members/1.jpg" alt="Team Member" class="img-fluid">
					<figcaption>
						<h4 class="title-text text-capitalize">Vidya Makwana</h4>
						<hr class="yellow-line">
						<p class="meta">Developer</p>
					</figcaption>
				</figure>

				<!-- HOVER PROFILE -->
				<div class="hover-profile clearfix">
					<figure class="thumb clearfix">
						<img src="images/team-members/1.jpg" alt="Team Member" class="img-fluid">
						<figcaption>
							<h4 class="title-text text-capitalize">Vidya Makwana</h4>
							<hr class="yellow-line">
							<p class="meta">Developer</p>
						</figcaption>
					</figure>

					<p></p>

					<ul class="social-connect">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- INDIVIDUAL MEMBER -->
			<div class="row-item each-member col-lg-3 col-sm-6">
				<figure class="d-none d-lg-block d-xl-block">
					<img src="images/team-members/1.jpg" alt="Team Member" class="img-fluid">
					<figcaption>
						<h4 class="title-text text-capitalize">Niyati Mervana</h4>
						<hr class="yellow-line">
						<p class="meta">Developer</p>
					</figcaption>
				</figure>

				<!-- HOVER PROFILE -->
				<div class="hover-profile clearfix">
					<figure class="thumb clearfix">
						<img src="images/team-members/1.jpg" alt="Team Member" class="img-fluid">
						<figcaption>
							<h4 class="title-text text-capitalize">Niyati Mervana</h4>
							<hr class="yellow-line">
							<p class="meta">Developer</p>
						</figcaption>
					</figure>

					<p></p>

					<ul class="social-connect">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- INDIVIDUAL MEMBER -->
			<div class="row-item each-member col-lg-3 col-sm-6">
				<figure class="d-none d-lg-block d-xl-block">
					<img src="images/team-members/2.jpg" alt="Team Member" class="img-fluid">
					<figcaption>
						<h4 class="title-text text-capitalize">Nikhil Bharadwaj</h4>
						<hr class="yellow-line">
						<p class="meta">Developer</p>
					</figcaption>
				</figure>

				<!-- HOVER PROFILE -->
				<div class="hover-profile clearfix">
					<figure class="thumb clearfix">
						<img src="images/team-members/2.jpg" alt="Team Member" class="img-fluid">
						<figcaption>
							<h4 class="title-text text-capitalize">Nikhil Bharadwaj</h4>
							<hr class="yellow-line">
							<p class="meta">Developer</p>
						</figcaption>
					</figure>

					<p></p>

					<ul class="social-connect">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- INDIVIDUAL MEMBER -->
			<div class="row-item each-member col-lg-3 col-sm-6">
				<figure class="d-none d-lg-block d-xl-block">
					<img src="images/team-members/1.jpg" alt="Team Member" class="img-fluid">
					<figcaption>
						<h4 class="title-text text-capitalize">Deep Dama</h4>
						<hr class="yellow-line">
						<p class="meta">Developer</p>
					</figcaption>
				</figure>

				<!-- HOVER PROFILE -->
				<div class="hover-profile clearfix">
					<figure class="thumb clearfix">
						<img src="images/team-members/1.jpg" alt="Team Member" class="img-fluid">
						<figcaption>
							<h4 class="title-text text-capitalize">Deep Dama</h4>
							<hr class="yellow-line">
							<p class="meta">Developer</p>
						</figcaption>
					</figure>

					<p></p>

					<ul class="social-connect">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- INDIVIDUAL MEMBER -->
			<div class="row-item each-member col-lg-3 col-sm-6">
				<figure class="d-none d-lg-block d-xl-block">
					<img src="images/team-members/4.jpg" alt="Team Member" class="img-fluid">
					<figcaption>
						<h4 class="title-text text-capitalize">Varada Harikumar</h4>
						<hr class="yellow-line">
						<p class="meta">Developer</p>
					</figcaption>
				</figure>

				<!-- HOVER PROFILE -->
				<div class="hover-profile clearfix">
					<figure class="thumb clearfix">
						<img src="images/team-members/4.jpg" alt="Team Member" class="img-fluid">
						<figcaption>
							<h4 class="title-text text-capitalize">Varada Harikumar</h4>
							<hr class="yellow-line">
							<p class="meta">Developer</p>
						</figcaption>
					</figure>

					<p></p>

					<ul class="social-connect">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}