{% extends 'home/base.html' %}
{% block content %}
	{% if message %}
		<div class="alert alert-success" role="alert">
		  {{message}} as {{email}}
		</div>
	{% endif %}
	<!-- =========================
	     HOME 
	============================== -->
	<div class="home" id="home">

		<!-- CAROUSEL -->
		<div class="owl-carousel">
			<div class="item slider">
				<img src="images/carousel/cat-1.jpg" alt="Cat">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">Save the homeless pet</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>

			<div class="item slider">
				<img src="images/carousel/dog-1.jpg" alt="Dog">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">Adopt pet and help them</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>

			<div class="item slider">
				<img src="images/carousel/cat-2.jpg" alt="Cat">

				<div class="slider-content">
					<div class="container">
						<h1 class="title-text">Pet is your friend</h1>
						<ul>
							<li>Adopt</li>
							<li>Care</li>
							<li>Love</li>
						</ul>
					</div>
				</div><!-- /.slider-content -->
			</div>
		</div>
	</div>

	<!-- =========================
	     About
	============================== -->

	<div class="special-event">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="special-event-header">
						<h3>BE THE PET LOVER</h3>
						<p>SAHYOG is a non-profit aid for animals.</p>
						<a href="#">Read More</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="event-coundownd">
						<div class="event-count" id="spc-event"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}